@model ShopProject.Areas.Shopper.Models.Administrator
@{
    ViewBag.Title = "changepass";
    Layout = "~/Areas/Shopper/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("changepass", "UserReG", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">Đổi mật khẩu</h1>

                    </div>
                    <div style="text-align:center;">
                        <div class="text-danger">
                            @ViewBag.EditProError
                        </div>
                        <div class="text-success">
                            @ViewBag.Success
                        </div>

                    </div>
                </div>
                @Html.HiddenFor(model => model.adAcc)
                @Html.HiddenFor(model => model.adStatus)
                @Html.HiddenFor(model => model.adQuyen)
                @Html.HiddenFor(model => model.adEmail)
                @Html.HiddenFor(model => model.adDiaChi)
                @Html.HiddenFor(model => model.adSDT)
                @Html.HiddenFor(model => model.adHoten)
                <div class="main-login main-center " style=" margin-bottom: 20px; color:aliceblue;">
                    <form class="form-horizontal" method="post" action="#">

                        @*Mật Khẩu*@
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Mật khẩu cũ</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password"  class="form-control" name="mk" id="mk" placeholder="Nhập mật khẩu..." required requiremsg="Mời nhập mật khẩu ..!!"/>
                                </div>
                            </div>
                        </div>
                        @*Mật Khẩu mới*@
                        <div class="form-group">

                            <label for="name" class="cols-sm-2 control-label">Xác nhận mật khẩu</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" required requiremsg="Mời nhập mật khẩu mới..!!" class="form-control" name="mknews"  placeholder="Nhập lại mật khẩu..." />
                                </div>
                            </div>

                        </div>
                        @*Mật Khẩu 1*@
                        <div class="form-group">

                            <label for="name" class="cols-sm-2 control-label">Xác nhận mật khẩu</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" required requiremsg="Mời nhập mật khẩu xác nhận..!!" class="form-control" name="mkcomplie" id="mk1" placeholder="Nhập lại mật khẩu..." />
                                </div>
                            </div>

                        </div>

                    </form>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Đăng Ký</button>
                    </div>
                    <div class="login-register ">
                        <a class="regtext" href="Login">Đăng Nhập</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

<style>
    .panel-heading {
        height: 99px;
    }

    body, html {
        height: 100%;
        background-repeat: no-repeat;
        font-family: 'Oxygen', sans-serif;
    }

    .main {
        margin-top: 0px;
    }

    h1.title {
        font-size: 40px;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 0px;
    }

    label {
        margin-bottom: 5px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 15px;
        text-align: center;
    }

    .regtext {
        color: black;
    }

        .regtext:hover {
            color: aliceblue;
            text-decoration: none;
        }
</style>
<script>
    $(document).ready(function () {
        var elements = $("input, select, textarea");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity(e.target.getAttribute("requiredmsg"));
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    })
</script>